/* NORMALIZAR */
* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

footer{
    padding-top: 30px;
}

/* HOME */

/* NAV BAR */
.img_logo{
    max-width: 100px;
    margin-right: 40px;
    border-radius: 8px 8px;
}

.nav_headerContainer{
    background-color: #60c3c3;
}


#cartIcon{
    font-size: 24px;
    padding: 0 10px;
    position: absolute;
    top: 40px;
    right: 20px;
    color:rgb(56, 56, 56);
}

#searchForm{
    margin-right: 55px;
}

@media (max-width: 768px) {
    #cartIcon{
        right: 70px;
    }
}

/* CARRUSEL */

.span_carouselArrow{
    filter: invert(100%);
}



/*  SECCION PRODUCTOS */

.div_sectionTitle{
    margin-bottom: 20px;
    width: 90vw;
    padding: 2% 0 1% 0;
    border-radius: 5px;
}

.div_seccionProductos{
    padding-top: 2.5%;
    padding-left: 20px;
}

.img_producto{
    max-height: 200px;
}

.btn-secondary{
    background-color: #60c3c3;
    border: 0;
}

.div_producto{
    margin-bottom: 40px;
}

/* MEDIA QUERIES */

@media (max-width: 400px) {
    
    .carousel{
        display: none;
       
    }

    .img_resenia{
        max-width: 90vw;
    }
    
    .div_sectionTitle{
        padding: 5% 0 2% 0;
    }


}


/* PAGINA PROMOCIONES */

.p_precioLista{
    text-decoration: line-through;
    margin-bottom: -5px;
}

.span_precioOferta{
    padding-right: 10px;
    color:rgb(242, 123, 55);
    font-weight: bold;
    font-size: 24px;
}

.btn_carrito{
    margin-top: 10px;
    display: block;
    background-color: #60c3c3;
    border: 0;
}

.btn_carrito:hover{
    background-color: rgb(94, 94, 94);
}

.btn_pago{
    background-color: #1c8585;
}

/* CARRITO */


#h1_tituloCarrito{
    font-weight: bold;
    text-align: center;
    color: rgb(57, 57, 57);
    padding: 20px 0;
}


#ul_carrito{
    padding: 8% 5%;
}
.li_itemCarrito{
    list-style-type: none;
    display: grid;
    grid-template-columns: 60% 35% 5%;
    padding-bottom: 10px;
}

#div_precioTotal{
    font-weight: bold;
    width: 50%;
    margin: 20px 20%;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    background-color: #bfe8e8;
    padding: 2% 5%;
    border-radius: 8px;
    
}

.tituloFormContainer {
    background-color: rgb(232, 206, 191);
    padding: 10px 0;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.tituloFormCarrito{
    margin: 0 5%;
    font-size: 18px;
    font-weight: bold;
    color: rgb(12, 86, 103);
}

.tituloFormContainer2{
    padding: 0 20px;
    margin: 25px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.div_trashIcon{
    cursor: pointer;
}

#formContainer{
    text-align: center;
}

#formCompra {
    display: flex;
    flex-direction: column;
    padding: 9%;
}

.inputFieldCompra{
    margin-bottom: 20px;
}

.inputFieldCompra{
    padding-left: 10px;
}

.errorDiv{
    padding: 8px;
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
}

@media (min-width: 720px){

    .gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #ul_carrito{
        padding: 3% 15% 5% 20%;
    }

    .tituloFormContainer, .tituloFormContainer2{
        margin-top: 10px;
        width: 85%;
        margin-left: 12.5%;
    }

    #formCompra{
        padding: 0 5% 0 20%;
    }
    
}

/* PAGINA DETALLES */

#detailContainer{
    display: flex;
}

#textDetailContainer{
    padding-left: 10%;
}


/* PAGINA RESULTADOS */

.imgResultados{
    width: 120px;
    padding-bottom: 50px;
}