/* NORMALIZAR */
* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

/* HOME */

/* NAV BAR */
.img_logo{
    max-width: 100px;
    margin-right: 40px;
    border-radius: 8px 8px;
}

.nav_headerContainer{
    background-color: #60c3c3;
}

/* CARRUSEL */

.span_carouselArrow{
    filter: invert(100%);
}

/*  SECCION PRODUCTOS */

.div_sectionTitle{
    font-weight: bold;
    margin-bottom: 20px;
    background-color: rgb(255, 254, 178);
    width: 90vw;
    padding: 5% 0 2% 5%;
    border-radius: 5px;
}

.div_seccionProductos{
    padding-top: 5%;
    padding-left: 20px;
}

.img_producto{
    max-height: 200px;
}

.btn-secondary{
    background-color: #60c3c3;
    border: 0;
}

.div_producto{
    margin-bottom: 40px;
}

/* MEDIA QUERIES */

@media (max-width: 400px) {
    
    .carousel{
        display: none;
       
    }

    .img_resenia{
        max-width: 90vw;
    }
    
    .div_sectionTitle{
        padding: 5% 0 2% 5%;
    }


}


/* PAGINA PROMOCIONES */

.p_precioLista{
    text-decoration: line-through;
    margin-bottom: -5px;
}

.span_precioOferta{
    padding-right: 10px;
    color:rgb(242, 123, 55);
    font-weight: bold;
    font-size: 24px;
}

.btn_carrito{
    margin-top: 10px;
    display: block;
    background-color: #60c3c3;
    border: 0;
}

.btn_carrito:hover{
    background-color: rgb(94, 94, 94);
}

.btn_pago{
    background-color: #1c8585;
}

/* FORM DE COMPRA */

#h1_tituloCarrito{
    font-weight: bold;
    text-align: center;
    color: rgb(57, 57, 57);
    padding-top: 20px;
}

#formCompra {
    display: flex;
    flex-direction: column;
    margin: 5% 30%;
}

.inputFieldCompra{
    margin-bottom: 20px;
}

#ul_carrito{
    padding: 5%;
}
.li_itemCarrito{
    list-style-type: none;
    display: grid;
    grid-template-columns: 60% 35% 5%;
    row-gap: 50px;
}

#div_precioTotal{
    font-weight: bold;
    padding: 0 43% 3% 38%;
    font-size: 23px;
    display: flex;
    justify-content: space-between;

}

@media (min-width: 600px){
    #ul_carrito{
        padding: 3% 30% 0 30%;
    }
}

